<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yaya.merchant">

    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- Optional. Required for location feature -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- 用于开启 debug 版本的应用在6.0 系统上 层叠窗口权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <!--获取手机录音机使用权限，听写、识别、语义理解需要用到此权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!--读取联系人权限，上传联系人需要用到此权限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!--&lt;!&ndash;如需使用人脸识别，还要添加：摄相头权限，拍照需要用到 &ndash;&gt;-->
    <!--<uses-permission android:name="android.permission.CAMERA" />-->

    <application
        android:name=".application.MerchantApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/BaseAppTheme">

        <activity
            android:name=".activity.SplashActivity"
            android:theme="@style/ImageTranslucentTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.login.LoginActivity"
            android:theme="@style/GrayActionBar" />
        <activity
            android:name=".activity.login.InputUserNameActivity"
            android:theme="@style/GrayActionBar" />
        <activity
            android:name=".activity.login.ResetPasswordActivity"
            android:theme="@style/GrayActionBar" />
        <activity
            android:name=".activity.login.ProvingActivity"
            android:theme="@style/GrayActionBar" />
        <activity
            android:name=".activity.login.RegisterMerchantActivity"
            android:theme="@style/GrayActionBar" />
        <activity
            android:name=".activity.MainActivity"
            android:theme="@style/ImageTranslucentTheme" />
        <activity android:name=".activity.account.EnterBillActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name=".activity.account.SearchMerchantActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".activity.account.MemberManagerActivity" />
        <activity
            android:name=".activity.withdraw.WithdrawMoneyActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/GrayActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.withdraw.WithdrawMoneyRecordActivity"
            android:theme="@style/GrayActionBar" />
        <activity android:name=".activity.user.MerchantManagerActivity" />
        <activity android:name=".activity.user.EmployeeManagerActivity" />
        <activity android:name=".activity.user.MerchantQRCodeActivity" />
        <activity
            android:name=".activity.search.MemberSearchActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.search.MerchantSearchActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.search.EmployeeSearchActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.user.BankCardActivity"
            android:theme="@style/GrayActionBar" />
        <activity android:name=".activity.user.UserInfoActivity" />
        <activity android:name=".activity.user.InformationActivity" />
        <activity android:name=".activity.user.VoiceSettingActivity" />
        <activity
            android:name=".activity.user.ChangeMerchantPushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".activity.user.VerificationActivity"
            android:theme="@style/ImageTranslucentTheme"/>
        <activity
            android:name=".activity.user.FeedBackActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".activity.user.VerificationResultActivity"
            android:theme="@style/GrayActionBar"/>
        <activity android:name=".activity.user.SettingActivity" />
        <activity
            android:name=".activity.user.ChangePasswordActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="stateHidden" />

        <activity android:name=".activity.account.BalanceAccountActivity"
            android:theme="@style/GrayActionBar"/>

        <activity android:name=".activity.account.BillListActivity"
            android:theme="@style/GrayActionBar"/>

        <activity android:name=".activity.order.OrderListActivity"
            android:theme="@style/GrayActionBar"/>
        <activity android:name=".activity.order.OrderDetailActivity"
            android:theme="@style/GrayActionBar"/>
        <activity android:name=".activity.order.DeliverOrderActivity"
            android:theme="@style/GrayActionBar"/>
        <activity android:name=".activity.order.RefundOrderActivity"
            android:theme="@style/GrayActionBar"/>
        <activity android:name=".activity.article.ArticleListActivity"
            android:theme="@style/GrayActionBar"/>
        <activity android:name=".activity.account.GatheringDetailActivity"
            android:theme="@style/ImageTranslucentTheme"/>
        <activity android:name=".activity.account.RefundDetailActivity"
            android:theme="@style/ImageTranslucentTheme"/>
        <activity android:name=".activity.article.ArticleDetailActivity"
            android:theme="@style/GrayActionBar"/>
        <activity android:name=".activity.activities.ReleaseActivitiesActivity"
            android:theme="@style/GrayActionBar"/>

        <activity android:name=".activity.user.ContractInformationActivity"/>
        <activity android:name=".activity.user.MerchantInfoActivity"/>
        <activity android:name=".activity.user.MerchantListActivity"/>
        <activity android:name=".activity.user.MerchantDetailActivity"/>

        <activity android:name=".activity.withdraw.ChangeDefaultBankCardActivity"/>

        <activity android:name=".activity.good.GoodDetailActivity"/>

        <activity android:name=".activity.recharge.RechargeActivity"/>

        <activity android:name=".activity.order.RefundOrderListActivity"/>
        <activity android:name=".activity.order.RefundOrderDetailActivity"/>

        <activity android:name=".activity.account.MerchantDetailActivity"/>

        <activity android:name=".activity.ReportActivity"/>

        <service android:name=".service.GetOrderService"
            android:enabled="true"
            android:process="system"/>

        <meta-data android:name="HOST" android:value="${HOST}"/>

    </application>
</manifest>
